//fonts variables
$font-family-sans-serif: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1800px
);

$nav-link-padding-x : 0px;
$card-border-width: 0px;

// variables used for carousel
$carousel-border-radius: 14px;
$carousel-img-height: 350px;
$carousel-font-size: 36px;
$carousel-wrapper-margin: 53px 0 0 53px;
$carousel-content-width:60%;

// variables used for card
$card-img-height: 220px;
$card-description-height: 48px;



